// Variables

$brand-color: #0062cc;

// Content

body {
  background-color: $gray-100;
}

.headerbar {
  padding-top: .5rem;
  height: 5rem;
  background-color: $brand-color;
}

.brand-name {
  color: $white;
  font-weight: 600;
  font-style: italic;
}

.brand-name:hover,
.brand-name:focus {
  color: $white;
  text-decoration: none;
}

.info-box {
  display: table;
  width: 100%;
  max-width: 100%;
}

.info-box-header {
  background-color: $brand-color;
  height: 4rem;
  border: 1px solid $brand-color;
  border-bottom: 0;
}

.flight-title {
  padding-top: .8rem;
  color: #fff;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
}

.info-box-content {
  background-color: $white;
  border: 1px solid $gray-400;
}

// Boostrap Modifications

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  background-color: $brand-color;
  border-color: $brand-color;
}
